.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

}

.title {
  color: rgb(49, 49, 182);
  text-align: center;
}

.logo {
  width: 200px
  
}

.search {
  padding-top: 200px;
}